.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & .amount-input {
    width: 49%;
    height: 30px;
    font-size: 20px;
    text-align: center;
  }

  & .deposit-btn {
    width: 25%;
    height: 36px;
    font-size: 20px;
    text-align: center;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
